*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height:1.6em;
    background-color: lightgrey;
}
.navigation a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: magenta;
}
.navigation ul {
    float:left;
    list-style: none;
    text-align: right;
    position:fixed;
    margin-top:1em;
    width:20%;
    box-sizing: border-box;
    line-height: 2em;
}
.navigation li {
    background-image: linear-gradient(to left, black, lightgrey);
    margin-bottom: 1em;
    padding-right: 1em;
    font-size: 1.3em;
}
.container {
    float:right;
    margin-top: 1em;
    width:75%;
    box-sizing: border-box;

}
.infoBox {
    background-color: grey;
    margin-bottom: 2em;
    margin-right:2em;
    color: #f4f4f4;
    border: 1em white solid;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}
.infoBox h1 {
    position: relative;
    text-align: center;
    font-size: 7em;
    top:60%;
    font-family: cursive;
    line-height: 1em;
}
.subHead{
    width:99%;
    text-align: center;
    margin-top:30vh;
    line-height: 1em;
    font-size: 3em;
}
.info {
    width:70%;
    margin:auto;
    margin-top: 1em;
    line-height: 2em;
}
.info dt {
    font-weight: bold;
}
.infoBox ul {
    list-style-type:square;
    font-weight: bold;
    width:1%;
}
#contact{
    width: 95%;
    margin: 1em auto;
    font-size: 1em;
}
#contact td{
    margin:auto;
    width:33%;
}
#contact table {
    width: 100%
}
#email{
    color: darkblue;
    text-decoration: underline;
}
hr {
    margin: auto;
    display:block;
    width:100%;               
    background-color:white;
    height: 1px;
}
.center {
    text-align: center;
}
.right  {
    text-align: right;
}
